<div id="breed-single">

<h1> <%= @breed.name.capitalize %> </h1>

<h2> <%= @breed.description.capitalize %> </h2>

<img src="sabertooth_01.jpeg" alt="A giant Sabertooth being murdered by Nixon." />

<h3 id="status"> <%= @breed.availability %> </h3>


</div>
