<div class="list">
  <h1>CLICK TO EDIT:</h1>

  <h2>ALL CATS</h2>

  <% @cats.each do |cat| %>
    <%= link_to "#{cat.name.downcase}", edit_admin_cat_path(cat) %>
    <br>
  <% end %>

  <h2>ALL BREEDS</h2>

  <% @breeds.each do |breed| %>
    <%= link_to "#{breed.name.downcase}", edit_admin_breed_path(breed)%>
    <br>
  <% end %>
</div>
