<%= image_tag("logo.png", class: "img-responsive center-block" ) %>

<div id="logo-home">
  <h1>CATATOUILLE</h1>
</div>

<h1>NEED A BREED?</h1>

<div class="list">
  <% @breeds.each do |breed| %>
    <%= link_to "#{breed.name}", "breeds/#{breed.name.downcase}"%>
    </br>
  <% end %>
</div>

<h1>READY RIGHT MEOW</h1>

<div class="list">
  <% @cats.each do |cat| %>
    <%= link_to "#{cat.name}", "cats/#{cat.id}" %>
    </br>
  <% end %>
</div>
