#main-container {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar.navbar-default.navbar-fixed-top {
  background-color: rgba(50,50,50,1);
}

.navbar-default .navbar-nav > li > a  {
  font-family: 'Comfortaa', Arial, serif; font-weight: 400;
  text-transform: uppercase;
}

.font_test {
  font-family: 'Comfortaa', Arial, serif; font-weight: 400;
}

#order-title {
  float: right;
}
