<div id="cat-single">

<h1> <%= @cat.name.capitalize %>   </h1>

<h2> <%= @cat.description.capitalize %> </h2>

<img src="sabertooth_01.jpeg" alt="A giant Sabertooth being murdered by Nixon." />

<h3 id="status"> <%= @cat.availability %> </h3>

</div>
